/* MEYER RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* START OF PROJECT */

@font-face {
	font-family: Norse-Bold;
	src: url(./font/Norse-Bold.otf);
}

.login,body {
	display: flex;
	flex-direction: row;
	background-color: rgb(243, 241, 241);
}

.background {
	display: flex;
}

.bg_image {
	width: 40vw;
	height: 100vh;
}

.opacity_area {
	position: absolute;
	display: flex;
	margin-top: 20vh;
	width: 30vw;
	height: 25vh;
}

.bg_logo {
	position: absolute;
	display: flex;
	background-color: #010249;
	width: 40vw;
	height: 25vh;
	opacity: 0.4;
}

.logo_typo {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 8vw;
	margin-right: 8vw;
	height: 25vh;
}

.logo {
	display: flex;
	height: 10vw;
	width: auto;
}

.typo {
	display: flex;
	position: absolute;
	font-family: Norse-Bold, sans-serif;
	color: white;
	font-size: 11vw;
	line-height: 0;
}

.form {
	display: flex;
	flex-direction: column;
}

.front_section {
	display: flex;
	background-color: white;
}

.back_section {
	display: flex;
}
